body{
	font-family: courier, arial;
}
.cabecera{
	height: 100px;
	font-size: 24px;
	background-color: lightblue;
	color: white;
}
.cabecera a{
	text-decoration: none;
}
.cabecera a:hover{
	color: gray;
}
h1{
	background-color: #e6f7ff;
	color: #4d94ff;
	font-size: 50px;
	text-align: center;
}
h2 {
	background-color: #e6f7ff;
	color: #ff6699;
	font-size: 25px;
}
.pie{
	height: 70px;
	font-size: 20px;
	background-color: lightblue;
	color: white;
}
.pie li{
	display: inline-block;
}